<%- include('../partials/header') %>
<main>
    <form action="/login" method="POST">
        <input type="email" name="email">
        <input type="password" name="password">
        <input type="submit">
    </form>
</main>
<%- include('../partials/footer') %>